.homeField {
    width: 100vw;
    margin: 0 auto;
    background: #CDE9B9;
    .teamGroup {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.space {
    width: 100%;
    height: 100px;
}