.homeField {
    width: 100vw;
    // height: calc(100vh - 80px);
    margin: 0 auto;
    background: #CDE9B9;
    // position: relative;
    .teamGroup {
        position: relative;
        // display: flex;
        // justify-content: space-around;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        // li {
        // //     position: absolute;
        //     width: 130px;
        //     height: 180px;
        // }
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.space {
    width: 100%;
    height: 100px;
}
// @media screen and (max-width : 786px) {
//     .homeField {
//         width: 900px;
//     }
// }
