.rankTeamField {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #876344;
    max-width: 360px;
    width: 90%;
    min-height: 80px;
    border-radius: 15px;
    margin-left: 10px;

    .teamNum {
        position: absolute;
        bottom: -3px;
        left: -3px;
        padding: 2px 8px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 15px;
        background: #876344;
        color: #fff;
        font-weight: bold;
    }

    .teamIcon {
        min-width: 80px;
        width: 80px;
        min-height: 80px;
        margin-right: 10px;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 15px;
        overflow: hidden;
    }
    .teamText {
        margin-top: 8px;
        overflow: hidden;

        .teamName {
            overflow: hidden;
            display: flex;
            min-width: 100px;
            max-width: 180px;

            .teamName_item {
                font-size: 18px;
                white-space: nowrap;
                padding-right: 30px;

                &:nth-child(odd) {
                    animation: MoveLeft 8s -4s infinite linear;
                }
                &:nth-child(even) {
                    animation: MoveLeft2 8s infinite linear;
                }                        

                @keyframes MoveLeft {
                    from {
                        transform: translateX(100%);
                    }
                    to {
                        transform: translateX(-100%);
                    }
                }
                @keyframes MoveLeft2 {
                    from {
                        transform: translateX(0);
                    }
                    to {
                        transform: translateX(-200%);
                    }
                }
            }
        }
        .count {
            padding-left: 5px;
            font-size: 10px;
            display: flex;
            align-items: center;
            .countImg {
                width: 15px;
                margin-right: 5px;
            }            
            .num {
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
    .point {
        font-size: 24px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        margin-left: 6px;

        .pointIcon {
            font-weight: bold;
            padding: 1px 6px 0 6px;
            color: #fff;
            background: #876344;
            border-radius: 999px;
            margin-right: 2px;
            font-size: 12px;
        }
    }
}