.rescan-button {
    background-color: #f0f0f0; /* 濃緑 */
    color: #876344;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto 0; /* 上部マージン、左右中央寄せ、下部なし */
    display: block;
    width: 35%; /* 横幅を画面全体の40%に設定 */
    min-width: 115px;
    align-self: center; /* ボタンを中央に配置 */
    text-align: center;
}
