.rescan-button {
    background-color: #f0f0f0;
    color: #666;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto 0;
    display: block;
    width: 35%;
    min-width: 125px;
    align-self: center;
    text-align: center;
    transition: background-color 0.2s;
}

.rescan-button:hover {
    background-color: #e0e0e0;
}
