.visitorTable{
    max-height: 100%;
    min-height: 100%;
    width: 100%;
}

.pageTitle{
    width: calc(100% - 40px);

    min-height: 10%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.pageTitle h2{
    color: #596a83;
    margin: 40px 20px 0 20px;

}

.sortArea {
    width: calc(100% - 40px);
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 80px;
}

.sortArea button{
    height: 40px;
}

.searchArea {
    display: flex;
    align-items: center;
    min-width: 160px;
    height: 40px;
    margin-right: 16px;
}

.sortArea input:hover{
    background: #d3d2d2;
}

.sortArea input::placeholder {
    color: #777777;
}

.divisionSelect {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
}

.listArea{
    max-height: 80%;
    overflow-y: scroll;
}