.inputRange {
    appearance: none; /* -webkit-appearance: none; デフォルトスタイルを無効化 */
    width: 100%;
    height: 35px;
    margin: 0 0px;
    background: #F2ECD4;
    border: 3px solid #876344;
    border-radius: 15px;
    background: linear-gradient(90deg, #876344 50%, #F2ECD4 50%);
    cursor: pointer;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 45px;
        height: 45px;
        background: #876344;
        border-radius:15px;
    }
}