/* --- タイトルエリアの親要素 --- */
.titleArea {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; 
    width: 100%;
    padding: 10px 0;  
}

.titleArea h2 { 
    font-size: 1.3rem;
    text-align: center;
    width: 100%; 
    margin: 0;
}

.closeButton {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%); 
    
    width: 40px; 
    height: 40px;
    border: none;
    background: none;
    font-size: 2rem;   
    cursor: pointer;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.closeButton span {
    color: #6b6a6a;
}

.formArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.addForm {
    width: 100%;
    max-width: 600px;
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
}

.addInnerForm {
    display: flex;
    flex-direction: column;
}

.addStudentForm {
    margin-bottom: 15px;
}

.addStudentForm dt {
    margin-bottom: 5px;
    font-weight: bold; 
}
.teams {
    width: 90%; 
    padding: 10px; 
    margin: 0 auto;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

.teams:focus {
    border-color: #F8A100; 
    outline: none; 
}


.addForm input[type="text"] {
    width: 90%; 
    padding: 10px; 
    margin: 0 auto;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

.addForm input[type="text"]:focus {
    border-color: #F8A100; 
    outline: none; 
}


.addForm input[type="number"] {
    width: 90%; 
    padding: 10px; 
    margin: 0 auto;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

.addForm input[type="number"]:focus {
    border-color: #F8A100; 
    outline: none; 
}


.addForm input[id="detail"]{
    height: 100px;
}

.submitButton {
    width: 60%;
    padding: 10px 15px; 
    margin: 0 auto;
    background-color: #e9c685; 
    color: white; 
    border: none; 
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}
.disabled{
    width: 60%;
    padding: 10px 15px; 
    margin: 0 auto;
    border: none; 
    border-radius: 4px;
    font-size: 16px;
    background-color: gray; 
    color: white;           
    cursor: not-allowed; 
}

.submitButton:hover {
    background-color: #F8A100   ; 
}

.error{
    color: red;
}