.getCommentField {
    display: flex;
    align-items: center;
    justify-content: start;
    .icon {
        min-width: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        figure {
            margin: 0;
        }
        figcaption {
            font-size: 12px;
        }
    }
    .category {
        min-width: 40px;
        width: 40px;
        margin-top: 5px;
        margin-right: 10px;
    }
    .commentBox {
        background: #fff;
        border-radius: 5px;
        padding: 12px;
        font-size: 12px;
    }
}
