.container {
    background-color: #CDE9B9; /* 背景色 */
    padding: 16px; /* コンテンツ全体の内側余白 */
    padding-top: 80px; /* Headerの高さ分の余白を追加 */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    box-sizing: border-box; /* パディングを含めてサイズを計算 */
}

.character {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 510px;
}

.character img {
    width: 80%;
    transform-origin: center bottom;
    animation: rotate 3s .5s linear infinite;
    /* animation: poyon 1.1s linear 0s 1;
    animation: floating-y 1.8s ease-in-out infinite alternate-reverse; */
}
.space {
    width: 100%;
    height: 80px;
}
@keyframes rotate {
    0% , 100%{
        transform: rotate(10deg) translateY(-5px);
    }
    50%{
        transform: rotate(-10deg);
    }
}