@charset "utf-8";

// 強制ライトモード
:root {
    color-scheme: light;
}
*, *::before, *::after {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.contents_box::-webkit-scrollbar{
    display: none;
}

html {
    font-size: 62.5%;
}
body {
    position: relative;
    margin: 0;
    background: #F7F2DF;
    // background: #CDE9B9;
    color: #876344;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100%;
    height: auto;
}
section {
    margin-top: 80px;
}
.appBackground {
    top: 0;
    width: 100%;
    min-width: 100vw;
    min-height: calc(100vh - 80px);
    height: 100%;
}