.studentDetailArea{
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    height: 80%;
}
.titleAndEdit{
    padding: 15px 0;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d2d5da;
}
.expArea{
    padding: 12px;
}

.expArea p{
    font-size: 1.2rem;
    font-weight:300;
    line-height: 2;
    letter-spacing: 0.04em;
    font-feature-settings: "palt";
    color: rgb(41, 41, 41);
}

.smallp{
    font-size: .85rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: .04em;
    font-feature-settings: "palt" 1;
    color: #6e7687;
}
.detailArea{
    /* display: flex; */
    flex-wrap: wrap;
    margin: 24px;
    padding: 18px ;
    border: 1px solid #d2d5da;
    border-radius: 6px;
}

.detailArea div{
    padding: 1rem 0 0 1.5rem;
}
.detailArea span{
    font-size: 1rem;
    font-weight: 800;
}

.teamText{
    width: 50%;
}
.teamText p{
    font-size: 1.2rem;
}

.None{
    display: none;
}

.formArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9; /* 背景色 */
    border-radius: 8px; /* 角を丸く */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

.editForm {
    width: 100%;
    max-width: 600px; /* フォームの最大幅 */
    background-color: #fff; /* フォームの背景色 */
    padding: 20px;
    border-radius: 8px;
}

.innerForm {
    display: flex;
    flex-direction: column; /* 縦に配置 */
}

.teamForm {
    margin-bottom: 15px; /* 各項目の間隔 */
}

.teamForm dt {
    margin-bottom: 5px; /* ラベルと入力フィールドの間隔 */
    font-weight: bold; /* ラベルを太字に */
}

/* .dd {
    margin: 0; 
} */
textarea{
    resize: none;
    height: 100px;
}
textarea:focus{
    border-color: #F8A100; 
    outline: none; 
}

.teamForm input[type="text"],textarea {
    width: 90%; 
    padding: 10px; 
    margin: 0 auto;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

.teamForm input[type="text"]:focus {
    border-color: #F8A100; 
    outline: none; 
}

.teamForm input[id="detail"]{
    height: 100px;
}

.submitButton {
    width: 60%;
    padding: 10px 15px; /* ボタンのパディング */
    margin: 0 auto;
    background-color: #e9c685; /* ボタンの背景色 */
    color: white; /* ボタンのテキスト色 */
    border: none; /* ボーダーを削除 */
    border-radius: 4px; /* 角を丸く */
    font-size: 16px; /* フォントサイズ */
    cursor: pointer; /* カーソルをポインターに */
    transition: background-color 0.3s; /* ホバー時のトランジション */
}

.submitButton:hover {
    background-color: #F8A100   ; /* ホバー時の色 */
}

.deleteButtonWrapper{
    display: flex;
    justify-content: end;
}

.delete{
    width: 100px;
    height: 30px;
    border-radius: 24px;
    border: 1px #f00000 solid;
    background: #ff0000;
}

.delete p{
    color: #f5f5f5;
    font-size: large;
    font-weight: 900;
}
