.dialogBg {
    position: fixed;
    top: 0;
    left: 0;
    // display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background:  rgba(60, 60, 60, 0.8);
    z-index: 9999;
    
    .dialog {
        width: 380px;
        max-height: 560px;
        background: #F7F2DF;
        border-radius: 15px;
        padding: 20px 20px 30px;

        .title {
            font-size: 18px;
            margin-top: 20px;
            margin-left: 5px;
        }

        p {
            font-size: 14px;
        }

        .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 6px;
            text-align: center;
            li {
                // padding: 2px;
                input {
                    display: none;
                }
                label {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: #dfdfdf;
                    border-radius: 5px;
                }
                input.active ~ label{
                    background: #876344;
                    color: #fff;
                }
            }
        }

        .getReviewSort {
            background: #F2ECD4;
            border-radius: 15px;
            padding: 15px 10px 10px;
            margin-top: 10px;

            p {
                margin: 0;
            }
            .sortList {
                display: grid;
                grid-template-columns: 1fr 3fr;
                text-align: center;
                gap: 20px;

                &:first-child {
                    padding-bottom: 10px;
                }
            }
        }

        .selectTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 5px;
            p {
                margin-left: 10px;
                margin-top: 10px;
            }
            .allSelectBtn {
                background: #dfdfdf;
                padding: 0 10px;
                border-radius: 5px;
                font-size: 14px;

                &.active {
                    background: #876344;
                    color: #fff;
                }
            }
        }
        .commentOnly, .division {
            gap: 10px;
            background: #F2ECD4;
            border-radius: 15px;
            padding: 15px 20px 10px;
            margin-bottom: 10px;
        }

        .btnClose {
            display: flex;
            align-items: center;
            margin: 0 auto;
            margin-top: 30px;
            padding: 8px 20px;
            background: #F2ECD4;
            color: #876344;
            font-weight: bold;
            border: none;
            border-radius: 5px;

            &::before {
                content: "×";
                display: inline-block;
                width: 20px;
                height: 20px;
                background-color: #F2ECD4;
                // background-image: url('https://placehold.jp/150x150.png');
                background-position: center;
                background-size: contain;
            }
        }

    }
}