.sortToggleBtn {
    width: 100%;
    height: 100%;
    background: #dfdfdf;
    border-radius: 5px;

    &.active {
        background: #876344;
        color: #fff;
        font-size: 12px;
    }
}
