.flex {
    /* ヘッダー(70px)を除いた全画面 */
    height: calc(100vh - 70px); 
    width: 100%;
    display: flex;
    overflow: hidden; /* スクロールバーの出現を根元から阻止 */
}

.mainContainer {
    flex: 1;
    height: 100%;
    background-color: #f4f7f6;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* メインエリア内でもスクロールを出さない */
}