svg {
    height: 80px;
    position: absolute;
    width: 80px;
    cursor: pointer;
    /*   border: 1px solid black; */
    background-color: #fff;
}
.plate {
    height: 80px;
    width: 80px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    .burger {
        // filter: url(#gooeyness);
        
        .line1 {
            stroke-dasharray: 21 185.62753295898438;
            transition-delay: 0;
        }
        .line2 {
            stroke-dasharray: 21 178.6514129638672;
            transition-delay: 30ms;
        }
        .line3 {
            stroke-dasharray: 21 197.92425537109375;
            transition-delay: 60ms;
        }
        .line4 {
            stroke-dasharray: 21 190.6597137451172;
            transition-delay: 90ms;
        }
        .line5 {
            stroke-dasharray: 21 208.52874755859375;
            transition-delay: 120ms;
        }
        .line6 {
            stroke-dasharray: 21 186.59703063964844;
            transition-delay: 150ms;
        }
    }
    .x {
        transform: scale(0);
        transition: transform 400ms;

        .line {
            stroke-width: 5.5px;
        }
    }
    .line {
        fill: none;
        stroke: #876344;
        stroke-width: 6px;
        stroke-linecap: round;
        stroke-linejoin: round;
        transform-origin: 50%;
        transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
        transform 500ms 200ms;
    }
}
.active {
    .line1 {
        stroke-dasharray: 5 185.62753295898438;
        stroke-dashoffset: -155px;
    }
    .line2 {
        stroke-dasharray: 5 178.6514129638672;
        stroke-dashoffset: -150px;
    }
    .line3 {
        stroke-dasharray: 5 197.92425537109375;
        stroke-dashoffset: -190px;
    }
    .line4 {
        stroke-dasharray: 5 190.6597137451172;
        stroke-dashoffset: -180px;
    }
    .line5 {
        stroke-dasharray: 5 208.52874755859375;
        stroke-dashoffset: -160px;
    }
    .line6 {
        stroke-dasharray: 5 186.59703063964844;
        stroke-dashoffset: -186px;
    }
    .x {
        transform: scale(1);
        transition: transform 400ms 250ms;
    }
}