.addModalTitleArea {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 20px;
}
.addModalTitleArea p {
    font-size: 1.3rem;
    text-align: center;
    width: 85%;
    margin: 10px 0;
}

.selectFileArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectFileArea input {
    width: 100%;
}

.selectFileArea button {
    width: 100px;
}

.csvForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
.csvForm input{
    width: 50%;
}

.cancelButton {
    width: 15%;
    height: 60px;
    border: none;
    background: none;
    font-size: 3rem;
    text-align: center;
}
.cancelButton span {
    width: 100%;
    height: 100%;
    color: #6b6a6a;
}

.submitButton {
    width: 60%;
    padding: 10px 15px; 
    margin: 0 auto;
    background-color: #e9c685; 
    color: white; 
    border: none; 
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}
.disabled {
    width: 20%;
    padding: 10px 15px; 
    margin: 0 auto;
    border: none; 
    border-radius: 4px;
    font-size: 16px;
    background-color: gray; 
    color: white;           
    cursor: not-allowed; 
}

.submitButton:hover {
    background-color: #F8A100; 
}
